body {
    margin: 0;
    padding: 0;
}

.footer_container { 
    display: grid;
    justify-items: center;
    column-gap: 40px;
    grid-template-columns: max(5%, 2fr) 1fr 1fr max(5%,2fr);
    grid-template-rows: 25px 300px 75px;
    height: 100%;
    width: 100%;
    position: relative;
}

.footer_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to top, var(--footer), var(--white));
    z-index: 1;
}

.footer_img {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 0.5em;
    overflow: hidden;
    display: flex;
    padding : 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer_img img {
    width: 80%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: -27px 0;
    border-radius: 15px;
}

.footer_main {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    color : var(--white);
    line-height: 30px;
    font-size: 20px;
}

.footer_credits {
    grid-area: 3 / 1 / 4 / 5;
    margin-top: 1em;
    font-size: 0.9em;
    text-align : center;
    color : var(--white);
}